body{
    font-family: "微软雅黑";
    font-size:14px;
}
ul,ol{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.yk-header{
    height:30px;
    margin-top:20px;
    color:#434343;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.yk-table{
    width:820px;
    height:600px;
    margin:0 auto;
    overflow:auto;
}

.yk-search{
    width:140px;
    height:20px;
    position: absolute;
    right:18px;
    top:0px;
    font-size:12px;
    line-height:20px;
    border-radius:30px;
    border:1px solid #434343;
}


.panel-header, .panel-body{
    border-color:#434343;
}
