div,span,li,ul,body,img,table,tr{
    padding:0;
    margin:0;
}
.wrapper{
    width:1200px;
    margin:0 auto;
}
.top_header{
    width:100%;
}
.time_control_left{
    float: left;
    width:15%;
    margin-top: -5px;
}
.time_control_right{
    float: right;
    width:85%;
    height: 54px;
}
/*左边的菜单栏*/
.left_menu{
    width:24%;
    float: left;
}
/*右边的内容部分*/
.right_content{
    width:76%;
    float: right;
}
#start_btn{
    border: none;
    width: 60px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 5px;
    padding-top: 5px;
    height: 30px;
    background: #9fbff7;
    cursor:pointer;
}
.right_content_title{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    height: 45px;
    background: #dceaff;
    margin-top: -3px;
    line-height: 45px;
}
/*标题下的表格部分设置*/
.right_content_table{
    width:100%;
    border: 2px solid #000000;

}

.flySystem_table {
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    margin:2px;
}
.flySystem_table td,.flySystem_table th{
    border-left:1px solid #000;
    border-top:1px solid #000;
    height: 30px;
    text-align: center;

    width:7%;
}
/*实时监控部分标题*/
.right_content_current_title{
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30PX;
    font-size: 18px;
    background: #d4e1f6;
}
/*实时监控的表格内容样式设定*/
.right_content_current_table{
    width:100%;
    border:none;
}
.flySystem_current_table {
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    margin:2px;
    overflow-y: scroll;
}
.flySystem_current_table td,.flySystem_current_table th{
    border-left:1px solid #000;
    border-top:1px solid #000;
    height: 20px;
    text-align: center;
    width:12%;
}
/*遥控序列监视*/
.sequence_watch_box,.publish_order_box{
    width:25%;
    border:2px solid #000000;
    height:inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
}
.sequence_watch_title,.publish_order_title,.device_status_title{
    width:100%;
    height: 30px;
    font-size: 16px;
    line-height:30px;
    text-align: center;
    background: #d4e1f6;
}
.publish_order_table td, .publish_order_table th,.control_effect_table td,.control_effect_table th{
    border-left:1px solid #000;
    border-top:1px solid #000;
    height: 20px;
    text-align: center;
    width:12%;
}
/*控制效果监视*/
.control_effect_box{
    width:30%;
    border:2px solid #000000;
    float: left;
    overflow-y: scroll;
    height:inherit;
}
/*设备状态监视*/
.device_status_box{
    width:18%;
    border:2px solid #000000;
    float: left;
    height:inherit;
    overflow-y: scroll;
}
.device_status_table td,device_status_table th{
    border-left:1px solid #000;
    border-top:1px solid #000;
    height: 20px;
    text-align: center;
    width:12%;
}
/*最下边的各种详情*/
.right_content_detail{
    width:100%;

}